---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=IGxaQNO4mKKYyvvNs1kWw75TQRWvDh4N&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 11 Aug 2022 22:14:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=IGxaQNO4mKKYyvvNs1kWw75TQRWvDh4N&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2088138480"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=IGxaQNO4mKKYyvvNs1kWw75TQRWvDh4N&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=696713537"}]}]}'
  recorded_at: Thu, 11 Aug 2022 22:14:33 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,%20co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer g6S9ST5UDzo_oP-_D5XJ5egnPrGI6ftt67G9pddBPhOxcTQGP7lDcCgsxqo9e35Yd4mqsjnQn8r5Qti2YHeEMcF_znCNGtJ0d1kphAOZfTFzXnnqxMzy_E9n2SfxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-jssvz; site=public_api_v3
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Resettime:
      - '2022-08-12T00:00:00+00:00'
      X-Zipkin-Id:
      - 533998f5278caf43
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-112-70-uswest2aprod
      X-Extlb:
      - 10-69-112-70-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "Yb4iTpZ3SjSEenqY6XMbFA", "alias": "taste-of-china-denver",
        "name": "Taste of China", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/jeBKUZqU9TxsDp4Y5HnHFg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/taste-of-china-denver?adjust_creative=Mjci1-ZB155k9ruIOMw_aA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Mjci1-ZB155k9ruIOMw_aA",
        "review_count": 150, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "thai", "title": "Thai"}, {"alias": "asianfusion", "title": "Asian
        Fusion"}], "rating": 4.5, "coordinates": {"latitude": 39.74702, "longitude":
        -105.02571}, "transactions": ["pickup", "delivery"], "price": "$$", "location":
        {"address1": "1935 Federal Blvd", "address2": "", "address3": null, "city":
        "Denver", "zip_code": "80204", "country": "US", "state": "CO", "display_address":
        ["1935 Federal Blvd", "Denver, CO 80204"]}, "phone": "+13034772204", "display_phone":
        "(303) 477-2204", "distance": 4901.717617542795}, {"id": "fxs9RrByHO9ss-ULhBBxFg",
        "alias": "chinatown-bistro-denver", "name": "Chinatown Bistro", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/kVoKVW4n3toHjTZ9KnkPpg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/chinatown-bistro-denver?adjust_creative=Mjci1-ZB155k9ruIOMw_aA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Mjci1-ZB155k9ruIOMw_aA",
        "review_count": 35, "categories": [{"alias": "chinese"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0a4f06330576d5831209b9c9d803f5fa&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660256073,"sunrise":1660219703,"sunset":1660269721,"temp":95.4,"feels_like":92.41,"pressure":1013,"humidity":22,"dew_point":50.54,"uvi":5.08,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":32,"wind_gust":8.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660255200,"temp":95.4,"feels_like":92.41,"pressure":1013,"humidity":22,"dew_point":50.54,"uvi":5.08,"clouds":0,"visibility":10000,"wind_speed":7.47,"wind_deg":118,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.04},{"dt":1660258800,"temp":95.47,"feels_like":92.01,"pressure":1012,"humidity":20,"dew_point":48.06,"uvi":2.74,"clouds":0,"visibility":10000,"wind_speed":12.26,"wind_deg":132,"wind_gust":8.12,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.04},{"dt":1660262400,"temp":94.42,"feels_like":90.84,"pressure":1011,"humidity":20,"dew_point":47.21,"uvi":1.05,"clouds":6,"visibility":10000,"wind_speed":15.77,"wind_deg":145,"wind_gust":11.05,"weather":[{"id":8[...]
